

<div class="form-control">
    
        <div class="header boder-light rounded p-5 shadow"  *ngIf="formulario">
        
            <h6>{{tituloFormulario}}</h6>
            <hr/>

            <form [formGroup]="formulario"  (ngSubmit)="onSubmit()">
                <button type="button" class="btn btn-secondary" (click)="onExbirFormCadastro()">
                    Pessoa
                </button>
                <div class="border border-light rounded col-12 " *ngIf="visibilidadeTabela"> 
                    
                    <div class="container">
                    <div class="row justify-content-md-center" >
                    <table class="table-striped  table-houver table-sm" *ngIf="pessoas">
                        <tr class="thead-light">
                            <th> Nome</th>
                            <th> SobreNome</th>
                             <th> Idade </th>
                            <th> Profissão</th>
                         </tr>
                         <tbody>
                        <tr *ngFor="let pessoa of pessoas" class="col-sm-4">
                             
                            <td>{{pessoa.nome}}</td>
                            <td>{{pessoa.sobrenome}}</td>
                            <td>{{pessoa.idade}}</td>
                            <td>{{pessoa.profissao}}</td>
                            <td>
                                <button type="button" class="btn btn-outline-info" (click)="onAtualizar(pessoa.pessoaId)">Atualizar</button>|
                                <button type="button" class="btn btn-sm btn-outline-danger" (click)="ExibirConfirmacaoExclusao(pessoa.pessoaId, pessoa.nome, conteudoModal)">
                                    Excluir
                                </button>
                            </td>
                        </tr>
                     
                        <!--
                        <tr>
                
                            @for (pessoa of pessoas; track pessoa) {
                                <td>{{pessoa.nome}}</td>
                                <td>{{pessoa.sobrenome}}</td>
                                <td>{{pessoa.idade}}</td>
                                <td>{{pessoa.profissao}}</td>
                              }
                                  
                        </tr>
                -->
                    </tbody>
             </table>
              </div>
            </div>
        </div>
       
            <br>
            <br>
               
               <div class="row" *ngIf="visibilidadeForm">
                <div >
                <div class="from-group" >
                    <label>Nome</label>

                     <input type="text" class="form-control form-control-sm" formControlName="nome">
                     
                     <!--
                      //Modo antigo
                       <p *ngIf="formulario.controls['nome'].invalid">
                        Campo nome e obrigatório.
                    </p>
                     -->
                     <p *ngIf="formulario.controls.nome.invalid">
                        Campo nome e obrigatório.
                    </p>
                </div>
                
                <div class="from-group">
                    <label>SobreNome</label>
                     <input type="text" class="form-control form-control-sm" formControlName="sobreNome">
                </div>
                
                <div class="from-group">
                    <label>Idade</label>
                     <input type="number" class="form-control form-control-sm" formControlName="idade">
                </div>
                
                <div class="from-group">
                    <label>Profissão</label>
                     <input type="text" class="form-control form-control-sm" formControlName="profissao">
                </div>
                 <div class="pt-5 my-3">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-secondary  float-end" (click)="voltar()">Voltar</button>
                </div> 

               </div>
            </div>
              
            
            </form>
        
    </div>
</div>

<ng-template #conteudoModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Confirmação de Exclusão</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Prosseguir com a exclusão do(a) {{nomePessoa}}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modalRef.hide()">Não</button>
        <button type="button" class="btn btn-outline-danger" (click)="ExcluirPessoa(pessoaId)">Sim</button>
    </div>
  </ng-template>